body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;

  margin-bottom: 5vw;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
.catOfferSize{
  width: 70vw;
}
.formEditableInfo{
  width: 40vw;

}
.cardResize{
  width:280px;
}

.cascaderMobile{
  border-radius: 15px
}
.shadowhoverImage{
  position: relative;
  display: flex;
  margin:0.5vh;
}
.shadowhoverImage img {
  opacity: 1;
  transition: opacity 0.5s ease;

}
.shadowhoverImage img:hover {
  opacity: .8;
  transition: opacity 0.5s ease;
}
.shadow{
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 120px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  z-index:   2;
}
.shadowhoverImage:hover .shadow{
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
.ico{
  position: absolute;
  color: white;
  opacity: 0;
  top:40%;
  left:45%;
}
.shadowhoverImage:hover .ico  {
  opacity: 1;
  z-index: 3;
  cursor: pointer;
}
.searchBar{
  height:65px;
  padding: 10px;
}
.listSearch{
  min-width: 45vw;
}
.buttonsSesssion{
  display: flex;
}
@media screen and (max-width: 48em) {
  .buttonsSesssion{
    flex-direction: column-reverse;
  }
  .listSearch{
    display: flex;
    min-width: 85vw;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .resSearchItem{
    min-width:85vw;
  }
  .searchBar{
    display: flex;
    flex-direction: column;
    height: 125px;
    padding-top: 15px;
  }
  .catOfferSize{
    width: 95vw;
  }
  .formEditableInfo{
    width: 80vw;
  }

  .cascaderMobile{
    display:'block'
  }
}
@media screen and (min-width: 48em) {

  .divFlex{
    flex: 1;
  }
}